body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(231, 231, 231);
  width: 100vw;
  height: 100%;
}
.banner {
  position: relative;
}
.banner::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-image: url(/img/sun\ bear\ eating.jpg.crdownload);
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  content: "";
}
.banner_content {
  position: relative;
}
.flex {
  display: flex;
}
@media (max-width: 800px) {
  .flex {
    flex-direction: column;
  }
  .banner .flex {
    flex-direction: row;
  }
  .banner {
    margin-bottom: 70px;
  }
}
.banner_top {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#bars {
  position: relative;
  display: none;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
  border: none;
  border-radius: 5px;
}
#bars:hover {
  cursor: pointer;
}
#mobile_menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.541);
}
.mobile_flex {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 35%;
  left: 40%;
  text-align: center;
}
.mobile_flex a {
  margin-bottom: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  background-color: white;
}
#close {
  position: absolute;
  right: 0;
  margin: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.63);
}
@media (max-width: 800px) {
  .banner_top .navigation {
    display: none;
  }
  #bars {
    display: block;
    margin: 10px;
  }
}
.show {
  display: block !important;
  animation: showmenu 0.35s ease-in-out;
}
.hide {
  display: block !important;
  animation: hidemenu 0.35s ease-in-out;
}
@keyframes showmenu {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);
  }
}
@keyframes hidemenu {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100%);
  }
}
.banner_top .navigation a {
  color: rgb(209, 209, 209);
  text-decoration: none;
  padding: 20px;
}
.banner_top .navigation a:hover {
  font-size: 18px;
  color: rgb(252, 252, 252);
}
.bsbcc_logo {
  width: 80px;
}
.banner_caption {
  margin: 20px auto;
  width: 90%;
  height: 20%;
  background-color: rgba(3, 3, 3, 0.705);
  padding: 15px;
  text-align: start;
  color: rgb(255, 255, 255);
  border-radius: 5px;
}
.banner_caption h3 {
  font-size: 44px;
  text-align: center;
}
.banner_caption p {
  font-size: 16px;
  letter-spacing: 0.2px;
  text-align: center;
}
.banner_caption > p {
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .banner_caption {
    width: 65%;
    height: 20%;
    margin-top: 30%;
  }
  .banner_caption h3 {
    font-size: 1em;
    text-align: center;
  }
  .banner_caption p {
    font-size: 0.8em;
  }
}
.banner_btn {
  justify-content: center;
}
.red_btn {
  color: white;
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(233, 35, 0);
  padding: 10px 30px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}
@media (max-width: 800px) {
  .red_btn {
    padding: 10px 10px;
  }
}
.red_btn:hover {
  background-color: #4ea374;
  cursor: pointer;
}
.margin_container {
  width: 80%;
  margin: 10px auto;
}
.welcome {
  margin-top: 150px;
  font-size: 30px;
  width: 80%;
}
@media (max-width: 800px) {
  .welcome h2 {
    font-size: 18px;
  }
  .welcome {
    margin-top: 0px;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .virtual_experience {
    height: 900px;
  }
}
.news_container {
  background-color: white;
  border-radius: 5px;
  text-align: center;
}
.news_container h3 {
  font-size: 30px;
  color: white;
  text-align: center;
  background-color: #4ea374;
  padding: 20px 5px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 800px) {
  .news_container h3 {
    font-size: 18px;
  }
  .news_container {
    height: 100%;
  }
  .news_container .updates_caption a {
    font-size: 16px;
  }
  .news_container p {
    font-size: 14px;
  }
}
.latest_updates a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  font-weight: bold;
}
.latest_updates p {
  font-size: 14px;
}
.updates_btn {
  margin: 10px auto;
}
.news_image {
  width: 100%;
  height: 66%;
  object-fit: cover;
  border-radius: 0px;
  border: none;
}
.virtual_experience .red_btn {
  margin: 10px;
}
.virtual_experience .news_image {
  border-radius: 0 0 5px 5px;
  object-fit: cover;
}

@media (max-width: 800px) {
  .news_image {
    height: 300px;
  }
}
.updates_caption {
  margin-top: 15px;
  text-align: center;
}
.light_font {
  color: rgb(78, 78, 78);
}
.pillars {
  text-align: center;
  height: 200px;
}
.header_content {
  background-color:#4ea374;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px 0px;
}
.pillars .pillars_header h2 {
  font-size: 35px;
}
@media (max-width: 800px) {
  .pillars .pillars_header h2 {
    font-size: 18px;
  }
  .pillars .pillars_header p {
    font-size: 14px;
  }
}
.pillar_content {
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(107 107 107 / 64%);
  width: 97%;
  height: 100%;
  padding: 10px 15px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.pillar_content .pillar1 {
  position: relative;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  padding: 10px 20px;
}
.pillar1::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: "";
  filter: brightness(50%);
  background-image: url("/img/animal\ welfare.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pillar_content .pillar1 a {
  position: relative;
  top: 50%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.pillar_content .pillar2 {
  position: relative;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  padding: 10px 20px;
}
.pillar2::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: "";
  filter: brightness(50%);
  background-image: url("/img/tyre\ swing\ sun\ bear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pillar_content .pillar2 a {
  position: relative;
  top: 50%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.pillar_content .pillar3 {
  position: relative;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  padding: 10px 20px;
}
.pillar3::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: "";
  filter: brightness(50%);
  background-image: url("/img/research\ sun\ bear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pillar_content .pillar3 a {
  position: relative;
  top: 50%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.pillar_content .pillar4 {
  position: relative;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  padding: 10px 20px;
}
.pillar4::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: "";
  filter: brightness(50%);
  background-image: url("/img/education\ sun\ bear.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pillar_content .pillar4 a {
  position: relative;
  top: 50%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.pillar_content .pillar5 {
  position: relative;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  padding: 10px 20px;
}
.pillar5::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  content: "";
  filter: brightness(50%);
  background-image: url("/img/ecotourism\ sun\ bear.jpg");
  background-size: cover;
}
.pillar_content .pillar5 a {
  position: relative;
  top: 50%;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.pillar_content a:hover {
  font-size: 20px;
  color: rgb(255, 102, 75);
}
@media (max-width: 800px) {
  .pillar_content {
    height: 400px;
    width: 60%;
  }
  .pillar_content .item {
    margin: 15px auto;
    width: 70%;
    height: 70%;
  }
}
.save_sunbears {
  text-align: center;
  margin-top: 200px;
}
.save_sunbears h3 {
  font-size: 35px;
}
@media (max-width: 800px) {
  .save_sunbears {
    margin-top: 370px;
  }
  .save_sunbears .save_sunbears_title h3 {
    font-size: 18px;
  }
  .save_sunbears .save_sunbears_title p {
    font-size: 14px;
  }
}
.save_content {
  justify-content: space-between;
}
.save_content .item {
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(107, 107, 107, 0.644);
  width: 30%;
  height: 100%;
  padding: 10px;
  margin: 10px auto;
}
@media (max-width: 800px) {
  .save_content .item {
    width: 80%;
  }
  .save_content .item p {
    font-size: 14px;
  }
}
.save_content .item button {
  width: 90%;
  margin: auto;
}
.save_content .save1 button {
  margin-top: 48px;
}
.save_content .save2 button {
  margin-top: 30px;
}
.save_content .save3 button {
  margin-top: 13px;
}
.gallery {
  margin-top: 50px;
  height: 550px;
  font-size: 35px;
}
@media (max-width: 800px) {
  .gallery {
    font-size: 18px;
  }
  .gallery_btn {
    margin: 10px;
  }
}
.gallery h3 {
  margin-bottom: 0;
}
.gallery_btn {
  margin: 10px;
}
.gallery_content img {
  width: 70%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
footer {
  background-color: rgba(0, 0, 0, 0.651);
  text-align: center;
  color: white;
  padding: 10px 15px;
}
footer .flex {
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

footer .flex a {
  text-decoration: none;
  color: white;
}
footer .flex a:hover {
  color: rgb(233, 35, 0);
}
.socmed {
  justify-content: space-between;
}
.socmed a {
  margin: 0 5px;
}
@media (max-width: 800px) {
  footer .flex .item {
    margin: 10px auto;
  }
  footer p {
    font-size: 14px;
  }
  .socmed {
    flex-direction: row;
  }
  .socmed a {
    margin: 5px;
  }
}
.newsletter {
  background-color: rgba(255, 0, 0, 0.644);
  width: 10%;
  text-align: center;
  padding: 5px;
  color: rgb(252, 252, 252);
  position: fixed;
  top: 50%;
  right: 0;
}
.newsletter a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-weight: bold;
}
@media (max-width: 800px) {
  .newsletter {
    padding: 5px 20px;
  }
  .newsletter a {
    font-size: 10px;
  }
}
.newsletter_popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.541);
}
form {
  position: relative;
  width: 40vw;
  margin: 0 auto;
  top: 50%;
  background-color: #4ea374;
  border-radius: 5px;
}
form input {
  padding: 5px;
}
#emailInput {
  margin: 5px auto;
}
@media (max-width: 800px){
  form input {
    padding: 5px;
  }
  #emailInput {
    width: 95%;
  }
}
.form_content {
  padding: 20px;
}
.newsletter_popup button {
  position: absolute;
  right: 5px;
  top: 5px;
}
form h3 {
  text-align: start;
  font-size: 25px;
  width: 100%;
  margin: 0 auto;
  color: white;
}
.names {
  margin: 5px auto;
}
.names input {
  width: 95%;
  margin-bottom: 5px;
}
/* About Us page */
.banner_about::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-image: url(/img/sun\ bear\ termenung.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  content: "";
}
.banner_content_about p {
  text-align: center;
}
.banner_content_about ul {
  width: 50%;
  text-align: center;
  margin: 0px auto;
}
@media (max-width: 800px) {
  .banner_content_about {
    margin: 20% 15%;
    height: 45vh;
  }
  .banner_content_about ul {
    width: 80%;
  }
}
.mission_container {
  margin-top: 120px;
  height: auto;
  background-color: white;
  justify-content: space-evenly;
  border-radius: 5px;
}
.about_caption {
  width: 80%;
  background-color: #4ea374;
  padding: 10px 20px;
  color: white;
}
@media (max-width: 800px) {
  .about_caption {
    width: 90%;
    font-size: 14px;
  }
  .mission_container {
    margin-top: 50px;
  }
}
.mission_caption {
  border-radius: 0px 5px 5px 0px;
}
.about_caption h3 {
  font-size: 35px;
}
.about_caption .txt_align {
  text-align: center;
}
.mission_image {
  width: 50%;
}
@media (max-width: 800px) {
  .mission_image {
    width: 100%;
  }
  .mission_caption {
    border-radius: 0px 0px 0 0px;
    text-align: center;
  }
  .about_caption h3 {
    font-size: 18px;
  }
}
.mission_image img {
  width: 100%;
  height: 100%;
  margin: 0px;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}
@media (max-width: 800px) {
  .mission_image img {
    border-radius: 5px 5px 0px 0px;
  }
}
.logo_image {
  width: 40%;
  margin-left: 20px;
  margin-top: 40px;
}
.logo_caption {
  border-radius: 5px 0px 0px 5px;
  margin-right: 20px;
  background-color: rgb(233, 35, 0);
}
.mobile_logo {
  display: none;
  margin: 10px auto;
}
@media (max-width: 800px) {
  .logo_image {
    display: none;
  }
  .mobile_logo {
    display: block;
  }
  .logo_caption {
    text-align: center;
  }
}
.grid_phase {
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 250px;
  text-align: center;
}
@media (max-width: 800px) {
  .grid_phase {
    grid-template-columns: repeat(2, 1fr);
    height: 500px;
  }
}
.phase_item {
  background-color: white;
  border-radius: 5px;
}
.phase_item h3 {
  color: rgb(252, 252, 252);
  margin-top: 0px;
  padding: 15px;
  background-color: rgb(233, 35, 0);
  border-radius: 5px 5px 0px 0px;
}
.phase_item p {
  width: 80%;
  margin: 5px auto;
  font-size: 14px;
}
.phase_item button {
  position: relative;
  top: 0px;
}
@media (max-width: 800px) {
  .phase_item p {
    font-size: 11px;
    margin-top: 10px;
  }
  .phase_item button {
    margin-top: 10px;
    font-size: 11px;
  }
}
.about_phase .header_content {
  font-size: 35px;
  padding: 20px;
  margin: 10px 0;
}
@media (max-width: 800px) {
  .about_phase .header_content {
    font-size: 18px;
  }
}
/* Volunteer page */
.banner_volunteer::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-image: url(/img/volunteer\ bear\ 1.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  content: "";
}
.banner_volunteer .banner_btn {
  margin: 10px;
}
.volunteer_activities {
  margin-top: 120px;
  height: 400px;
}
.volunteer_activities>h3 {
  font-size: 35px;
  padding: 50px;
}
@media (max-width: 800px) {
  .volunteer_activities {
    margin-top: 0px;
  }
  .volunteer_activities>h3 {
    font-size:20px;
  }
}
.grid_volunteer {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 500px;
}
.volunteer_item {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 3px 3px rgb(107 107 107 / 64%);
  text-align: center;
  height: 100%;
  padding: 0px 20px;
}
.education {
  grid-column-start: 1;
  grid-column-end: 3;
}
.application {
  margin-top: 380px;
}
@media (max-width: 800px) {
  .volunteer_item {
    font-size: 12px;
  }
  .application {
    margin-bottom: 550px;
    margin-top: 300px;
  }
}
.application h3 {
  font-size: 35px;
  text-align: center;
  padding: 50px;
}
.applicaton_content {
  width: 100%;
  height: 300px;
  justify-content: space-between;
  text-align: center;
}
.application_item {
  background-color: white;
  width: 32%;
  border-radius: 5px;
  box-shadow: 3px 3px rgba(107, 107, 107, 0.644);
}
@media (max-width: 800px) {
  .application h3 {
    font-size: 20px;
  }
  .application_item {
    width: 100%;
    margin: 10px auto;
  }
}
.item_top {
  background-color: rgb(233, 35, 0);
  color: white;
  padding: 1px;
  border-radius: 5px 5px 0 0;
}
.application_caption {
  width: 90%;
  margin: 50px auto;
  font-size: 16px;
}
.application_caption a{
  text-decoration: none;
  color: red;
}
@media (max-width: 800px) {
  .application_caption {
    font-size: 14px;
  }
}

/* Sun Bear Facts page */
.overview {
  margin-top: 200px;
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(107 107 107 / 64%);
}
@media (max-width: 800px) {
  .overview {
    margin-top: 100px;
  }
}
.overview_justify {
  justify-content: space-between;
  align-items: center;
}
.overview_caption {
  width: 50%;
  padding-left: 10px;
}
@media (max-width: 800px) {
  .overview_caption {
    width: 80%;
  }
  .overview_caption p {
    font-size: 15px;
  }
}
.overview_caption h3 {
  font-size: 35px;
  color: white;
  background-color: rgb(233, 35, 0);
  padding: 10px;
  border-radius: 5px;
}
.overview_image img{
  width: 90%;
  height: 80%;
  margin-left: 60px;
  border-radius: 5px;
}
@media (max-width: 800px) {
  .overview_image img{
    margin-left: 20px;
  }
}
.threats>h3 {
  font-size: 35px;
  padding: 50px;
}
.threats_content {
  margin-bottom: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.threats_content h4 {
  color: white;
  font-size: 25px;
  background-color: rgb(233, 35, 0);
  margin: 0px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.threats_content p {
  text-align: center;
}
@media (max-width: 800px) {
  .threats>h3 {
    font-size: 20px;
    padding: 30px;
  }
  .threats_content h4 {
    font-size: 20px;
  }
  .threats_content p {
    font-size: 14px;
  }
}